* {
    margin: 0;
    padding: 0;
}

.header {
    background: #323232;
}

.header .nav {
    /*float: right;*/
    position: absolute;
    right: 0;
    top: 10px;
}

.header .nav li {
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.link {
    list-style: circle;
}

.link:link, .link:visited, .link:hover, .link:active {
    color: #fff;
}






.article {
    /* border-width: 15px; */
    /* border-color: aliceblue; */
    /* border-style: solid; */
    border: 20px solid lightgrey;
    padding: 0;
}

