* {
    margin: 0;
    padding: 0;
}

.header {
    background: #323232;
}

.header .nav {
    /*float: right;*/
    position: absolute;
    right: 0;
    top: 10px;
}

.header .nav li {
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.link {
    list-style: circle;
}

.link:link, .link:visited, .link:hover, .link:active {
    color: #fff;
}






.article {
    /* border-width: 15px; */
    /* border-color: aliceblue; */
    /* border-style: solid; */
    border: 20px solid lightgrey;
    padding: 20px;
}

.nopoint{
    list-style: none;
}
.nopoint li{
    margin-bottom: 8px;
    /*margin:0 0 8px 0;*/
}

.picture{
    margin: 17px 0;
}

.paragragh{
    line-height: 24px;
    text-indent: 25px;
}
.title_60{
    line-height: 60px;
    font-size: large;
}
.title_40{
    line-height: 40px;
    font-size: medium;
    color: rgba(89, 96, 100, 0.69);
}
.title_30{
    line-height: 30px;
    font-size: small;
    color: rgba(158, 158, 158, 0.77);
}
.picture-border{
    border: 1px solid #000;
    width: 200px;
    /*height: 200px;*/
    padding:25px ;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 15px;
}
.picture-border img{
    width: 150px;
    height: auto;

}

/*.center{*/
    /*float: left;*/
    /*padding: 10px 32px;*/
/*}*/

.ol-indent{
    margin: 10px 30px;
}
.table-style{
    width: 100%;
    text-align: left;
    /* collapse用于使表格边框消失*/
    border-collapse: collapse;
}
.table-style th{
    background-color: rgba(50, 50, 50, 0.63);
}

.table-style tr:last-child{
    background-color: rgba(50, 50, 50, 0.16);
}
.table-style td{
    padding: 3px;
}

.title_40_black{
    color: black;
    font-size: medium;
    font-weight: bold;
    margin: 5px;
}
.sidebar-table{
    width: 100%;
}
.sidebar-table th{
    text-align: right;
}
.sidebar-table td{
    text-align: left;
}
.verify{
    width:90%;
    margin: 0 auto;
    display: block;
    background-color: rgba(0, 255, 255, 0.39);
    border-radius: 5px;
}

.sidebar {
    /* border-width: 15px; */
    /* border-color: aliceblue; */
    /* border-style: solid; */
    border: 20px solid lightgrey;
    padding: 20px;
    /*margin-bottom: 0;*/
    /*border-bottom: 0;*/
}
.foot{
    height:55px;
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    /*vertical-align: middle;*/
    padding-top: 18px;
    padding-bottom: 22px;
}